<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.AssetsinformationMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Assetsinformation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="assetNo" property="assetno" jdbcType="INTEGER" />
    <result column="assetsName" property="assetsname" jdbcType="VARCHAR" />
    <result column="creatDate" property="creatdate" jdbcType="TIMESTAMP" />
    <result column="modifyDate" property="modifydate"  />
    <result column="name" property="name"/>
  </resultMap>
 
 <select id="countAll" resultType="int">
 	SELECT COUNT(*) FROM assetsinformation
 </select>
 
 <select id="selectAll" resultType="Assetsinformation">
SELECT 	*
	FROM 
	db_cwgl.assetsinformation  AS a
	inner join assetcategory AS b
	where a.assetNo=b.id
	LIMIT #{pageNo}, #{pageSize}
 </select>
 
 <insert id="addAssetsinformation">
 
INSERT INTO db_cwgl.assetsinformation 
	(
	assetNo, 
	assetsName
	)
	VALUES
	( 
	#{assetNo}, 
	#{assetsName}
	);
 
 </insert>
 
 <delete id="delAssetsinformation">
DELETE FROM db_cwgl.assetsinformation 
	WHERE
	id = #{id} ;
 
 </delete>
 
 <select id="assetsinformation" resultType="Assetsinformation">
 SELECT 	id, 
	assetNo, 
	assetsName, 
	creatDate, 
	modifyDate
	 
	FROM 
	db_cwgl.assetsinformation 
	WHERE id=#{id}
 </select>
 
 <update id="updateAssetsinformation">
 
UPDATE db_cwgl.assetsinformation 
	SET
	assetNo = #{assetNo}, 
	assetsName = #{assetsName} , 
	modifyDate = #{modifyDate}
	WHERE
	id = #{id} ;
 </update>
 
</mapper>