<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.PayrollMapper">
	<resultMap id="BaseResultMap" type="com.pojo.Payroll">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="employeeNo" property="employeeno" jdbcType="INTEGER" />
		<result column="basePay" property="basepay" jdbcType="DECIMAL" />
		<result column="JobSubsidy" property="jobsubsidy" jdbcType="DECIMAL" />
		<result column="workSubsidy" property="worksubsidy" jdbcType="DECIMAL" />
		<result column="subsidy" property="subsidy" jdbcType="DECIMAL" />
		<result column="name" property="name" />
	</resultMap>
	
	<select id="countPary" resultType="int"> 
	
		SELECT  COUNT(*)
		 FROM db_cwgl.payroll 
	</select>
	
	<select id="selectAll" resultType="Payroll">
	
	SELECT p.employeeNo,e.name,p.basePay,p.JobSubsidy,p.workSubsidy,p.subsidy 
		FROM payroll AS p 
			INNER JOIN employees  AS e  
				WHERE p.employeeNo=e.id
					LIMIT #{pagNo},#{pageSize}
	</select>
	
<!-- 添加工资信息 -->
	<insert id="insertPay" parameterType="Payroll">
		INSERT INTO payroll
		(employeeNo,
		basePay,
		JobSubsidy,
		workSubsidy,
		subsidy)
		VALUES
		(#{employeeNo},
		#{basePay},
		#{JobSubsidy},
		#{workSubsidy},
		#{subsidy})
	</insert>

<!--修改工资信息  -->
	<update id="updatePay">
		UPDATE payroll
		SET
		basePay = #{basePay},
		JobSubsidy = #{JobSubsidy},
		workSubsidy =#{workSubsidy},
		subsidy = #{subsidy}
		WHERE
		employeeNo = #{employeeNo};
	</update>
</mapper>